.bot {
    &__loading {
        position: fixed;
        z-index: 99999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        background-color: var(--overlay-outside-dialog);
        display: flex;
        align-items: center;
        justify-content: center;

        // Ensure the simple loader is properly centered
        .simple-loader {
            position: relative;
            background: transparent;
        }
    }
}
